.search-column {
    background-color: #D3D3d3;
}

.current-city {
    border: 1px solid black;
    background-color: azure;
}

.list-item {
    line-height: 1.5;
    border: none;
    list-style-type: none;
}

.card-body {
    flex: auto;
}

span.severe{
    padding: 3px;
    background-color: red;
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
}

span.favorable{
    padding: 3px;
    background-color: green;
    color:white;
}